<EcDropdownButtonGroup>
    <EcDropdownToggleButton Size="ButtonSize.Large" Color="ThemeColor.Secondary">Large button</EcDropdownToggleButton>
        <EcDropdownMenu>
            <EcDropdownItemNavLink Href="#">Link 1</EcDropdownItemNavLink>
            <EcDropdownItemNavLink Href="#">Link 2</EcDropdownItemNavLink>
            <EcDropdownItemNavLink Href="#">Link 3</EcDropdownItemNavLink>
        </EcDropdownMenu>
</EcDropdownButtonGroup>

<EcDropdownButtonGroup Split="true">
    <EcButton Color="ThemeColor.Secondary" Size="ButtonSize.Large">Large split button</EcButton>
    <EcDropdownToggleButton Color="ThemeColor.Secondary" Size="ButtonSize.Large">
        <span class="visually-hidden">Toggle Dropdown</span>@* OPTIONAL (for accessibility) *@
    </EcDropdownToggleButton>
    <EcDropdownMenu>
        <EcDropdownItemNavLink Href="#">Link 1</EcDropdownItemNavLink>
        <EcDropdownItemNavLink Href="#">Link 2</EcDropdownItemNavLink>
        <EcDropdownItemNavLink Href="#">Link 3</EcDropdownItemNavLink>
    </EcDropdownMenu>
</EcDropdownButtonGroup>

<EcDropdownButtonGroup>
    <EcDropdownToggleButton Size="ButtonSize.Small" Color="ThemeColor.Secondary">Small button</EcDropdownToggleButton>
    <EcDropdownMenu>
        <EcDropdownItemNavLink Href="#">Link 1</EcDropdownItemNavLink>
        <EcDropdownItemNavLink Href="#">Link 2</EcDropdownItemNavLink>
        <EcDropdownItemNavLink Href="#">Link 3</EcDropdownItemNavLink>
    </EcDropdownMenu>
</EcDropdownButtonGroup>

<EcDropdownButtonGroup Split="true">
    <EcButton Color="ThemeColor.Secondary" Size="ButtonSize.Small">Small split button</EcButton>
    <EcDropdownToggleButton Color="ThemeColor.Secondary" Size="ButtonSize.Small">
        <span class="visually-hidden">Toggle Dropdown</span>@* OPTIONAL (for accessibility) *@
    </EcDropdownToggleButton>
    <EcDropdownMenu>
        <EcDropdownItemNavLink Href="#">Link 1</EcDropdownItemNavLink>
        <EcDropdownItemNavLink Href="#">Link 2</EcDropdownItemNavLink>
        <EcDropdownItemNavLink Href="#">Link 3</EcDropdownItemNavLink>
    </EcDropdownMenu>
</EcDropdownButtonGroup>
