@attribute [Route("/components/" + nameof(EcInputText))]

<ComponentApiDoc Type="typeof(EcInputText)">
    <DocHeading Title="Basic usage" />
    <Demo Type="typeof(EcInputText_Demo)" Tabs="false" />

    <DocHeading Title="Input type" />
    <p>You can set input-type with <code>InputType</code> parameter, e.g. <code>InputType.Password</code>:</p>
    <Demo Type="typeof(EcInputText_Demo_Password)" />

    <DocHeading Title="Input mode" />
    <p><code>InputMode</code> is a hint to browsers as to the type of virtual keyboard configuration to use when editing.</p>
    <Demo Type="typeof(EcInputText_Demo_InputMode)" />
</ComponentApiDoc>