<div class="row">
	<div class="col-md-6">
		<EcCard ImageAlt="Grey area"
				ImageSrc="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
				ImageHeight="180"
				CssClass="mb-3"
				style="max-width: 18rem;">
			<BodyTemplate>
				<EcCardTitle>Card title</EcCardTitle>
				<EcCardText>Some quick example text to build on the card title and make up the bulk of the card's content.</EcCardText>
				<EcButton Color="ThemeColor.Primary">Go somewhere</EcButton>
			</BodyTemplate>
		</EcCard>
	</div>
	<div class="col-md-6">
		<EcCard ImageAlt="Grey area"
				ImageSrc="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
				ImageHeight="180"
				style="max-width: 18rem;">
			<BodyTemplate>
				<EcCardTitle>
					<EcPlaceholderContainer Animation="PlaceholderAnimation.Glow">
						<EcPlaceholder Columns="6" />
					</EcPlaceholderContainer>
				</EcCardTitle>
				<EcCardText>
					<EcPlaceholderContainer Animation="PlaceholderAnimation.Glow">
						<EcPlaceholder Columns="7" />
						<EcPlaceholder Columns="4" />
						<EcPlaceholder Columns="4" />
						<EcPlaceholder Columns="6" />
						<EcPlaceholder Columns="8" />
					</EcPlaceholderContainer>
				</EcCardText>
				<EcPlaceholderButton Color="ThemeColor.Primary" Columns="6" />
			</BodyTemplate>
		</EcCard>
	</div>
</div>