<EcCollapseToggleButton Text="Toggle horizontal" CollapseTarget="#myHorizontalCollapse" Color="ThemeColor.Primary" CssClass="mb-3" />
<div style="min-height: 120px">
	<EcCollapse CollapseDirection="CollapseDirection.Horizontal" Id="myHorizontalCollapse">
		<EcCard style="width: 300px;">
			<BodyTemplate>
				This is some placeholder content for a horizontal collapse. It's hidden by default and shown when triggered.
			</BodyTemplate>
		</EcCard>
	</EcCollapse>
</div>