<p>
	<EcCollapseToggleButton Text="Toggle first" CollapseTarget="#myCollapse1" Color="ThemeColor.Primary" />
	<EcCollapseToggleButton Text="Toggle second" CollapseTarget="#myCollapse2" Color="ThemeColor.Primary" />
	<EcCollapseToggleButton Text="Toggle both" CollapseTarget=".myCollapse" Color="ThemeColor.Primary" />
</p>
<div class="row">
	<div class="col">
		<EcCollapse Id="myCollapse1" CssClass="myCollapse">
			<EcCard>
				<BodyTemplate>
					Some placeholder content for the first collapse component of this multi-collapse example.
					This panel is hidden by default but revealed when the user activates the relevant trigger.
				</BodyTemplate>
			</EcCard>
		</EcCollapse>
	</div>
	<div class="col">
		<EcCollapse Id="myCollapse2" CssClass="myCollapse">
			<EcCard>
				<BodyTemplate>
					Some placeholder content for the second collapse component of this multi-collapse example.
					This panel is hidden by default but revealed when the user activates the relevant trigger.
				</BodyTemplate>
			</EcCard>
		</EcCollapse>
	</div>
</div>