<EcListGroup Numbered="true">
    <EcListGroupItem CssClass="d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            <div class="fw-bold">Subheading</div>
            Cras justo odio
        </div>
        <EcBadge Color="ThemeColor.Primary" Variant="BadgeVariant.RoundedPill">14</EcBadge>
    </EcListGroupItem>
    <EcListGroupItem CssClass="d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            <div class="fw-bold">Subheading</div>
            Cras justo odio
        </div>
        <EcBadge Color="ThemeColor.Primary" Variant="BadgeVariant.RoundedPill">14</EcBadge>
    </EcListGroupItem>
    <EcListGroupItem CssClass="d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            <div class="fw-bold">Subheading</div>
            Cras justo odio
        </div>
        <EcBadge Color="ThemeColor.Primary" Variant="BadgeVariant.RoundedPill">14</EcBadge>
    </EcListGroupItem>
</EcListGroup>
