@namespace EnchantedCoder.Blazor.Components.Web.Bootstrap

<div class="text-center text-secondary my-5">
    <div class="fs-3"><EcIcon Icon="@BootstrapIcon.Inbox" /></div>
    <div>@EcGridLocalizer["NoData"]</div>

    @if (ChildContent != null)
    {
        <div class="my-3">
            @ChildContent
        </div>
    }
</div>
