@page "/EcIconTest"

<h1>EcIcon</h1>

<div style="font-size: large">
	<EcIcon Icon="@BootstrapIcon.YinYang" />
	<EcIcon Icon="@BootstrapIcon.Fingerprint" />
	<EcIcon Icon="@BootstrapIcon._123" />
</div>