@page "/EcPagerTest"

<h1>EcPager</h1>

<EcPager CurrentPageIndex="0" TotalPages="1" />
<EcPager CurrentPageIndex="0" TotalPages="2" />
<EcPager CurrentPageIndex="0" TotalPages="3" />
<EcPager CurrentPageIndex="0" TotalPages="5" />
<EcPager CurrentPageIndex="0" TotalPages="6" />
<EcPager CurrentPageIndex="0" TotalPages="10" />
<EcPager CurrentPageIndex="0" TotalPages="11" />
<EcPager CurrentPageIndex="0" TotalPages="15" />
<EcPager CurrentPageIndex="0" TotalPages="100" />
<EcPager CurrentPageIndex="0" TotalPages="100" NumericButtonsCount="3" FirstPageIcon="BootstrapIcon.ArrowLeftCircleFill" PreviousPageIcon="BootstrapIcon.ArrowLeftCircle" NextPageIcon="BootstrapIcon.ArrowRightCircle" LastPageIcon="BootstrapIcon.ArrowRightCircleFill" />