@page "/EcSelect_Issue456_Test"

<h1>EcSelect_Issue456_Test</h1>
<p>[EcSelect] Throws exception when Data not loaded</p>
@* https://github.com/EnchantedCoder/EnchantedCoder.Blazor/issues/456 *@

<EcSelect TItem="int" TValue="int" Data="@data" @bind-Value="selectedNumber" NullDataText="Loading numbers..." NullText="-all-" ValueSelector="(v => v)" />

@code
{
	private List<int> data;
	private int selectedNumber = 0;

	protected override async Task OnInitializedAsync()
	{
		await Task.Delay(3000);
		data = Enumerable.Range(0, 10).ToList();
	}
}

@* FAILING VARIANT (as designed, invalid Value when Data loaded):

<EcSelect TItem="int" TValue="int" Data="@data" @bind-Value="selectedNumber" NullDataText="Loading numbers..." NullText="-all-" ValueSelector="(v => v)" />

@code
{
	private List<int> data;
	private int selectedNumber;

	protected override async Task OnInitializedAsync()
	{
		await Task.Delay(1000);
		data = Enumerable.Range(1, 10).ToList();
	}

	protected override async Task OnParametersSetAsync()
	{
		await Task.Delay(3000);
		selectedNumber = 3;
	}
}
*@