@page "/EcSpinnerTest"

<h1>EcSpinner</h1>

<EcSpinner />
<EcSpinner Size="SpinnerSize.Small" />

<EcSpinner Type="SpinnerType.Grow" />

<EcSpinner Type="SpinnerType.Grow" Size="SpinnerSize.Small" />

<EcSpinner Color="ThemeColor.Danger" CssClass="m-3" />

<EcButton Color="ThemeColor.Primary">
	<EcSpinner Size="SpinnerSize.Small" /> Button ChildContent
</EcButton>