@page "/all-tests"
@using BlazorAppTest.Pages

@GetComponentTestLinks()

<h3 class="invisible" id="EcAccordionTest">EcAccordionTest</h3>
<EcAccordionTest />

<h3 class="invisible" id="EcAlertTest">EcAlertTest</h3>
<EcAlertTest />

<h3 class="invisible" id="EcAutosuggestTest">EcAutosuggestTest</h3>
<EcAutosuggestTest />

<h3 class="invisible" id="EcBadgeTest">EcBadgeTest</h3>
<EcBadgeTest />

<h3 class="invisible" id="EcBreadcrumbTest">EcBreadcrumbTest</h3>
<EcBreadcrumbTest />

<h3 class="invisible" id="EcButtonTest">EcButtonTest</h3>
<EcButtonTest />

<h3 class="invisible" id="EcButtonToolbarTest">EcButtonToolbarTest</h3>
<EcButtonToolbarTest />

<h3 class="invisible" id="EcCalendarTest">EcCalendarTest</h3>
<EcCalendarTest />

<h3 class="invisible" id="EcCarouselTest">EcCarouselTest</h3>
<EcCarouselTest />

<h3 class="invisible" id="EcCheckboxListTest">EcCheckboxListTest</h3>
<EcCheckboxListTest />

<h3 class="invisible" id="EcDialogBaseTest">EcDialogBaseTest</h3>
<EcDialogBaseTest />

<h3 class="invisible" id="EcDropdownTest">EcDropdownTest</h3>
<EcDropdownTest />

<h3 class="invisible" id="EcFilterFormTest">EcFilterFormTest</h3>
<EcFilterFormTest />

@*<h3 class="invisible" id="EcGoogleTagManagerTest">EcGoogleTagManagerTest</h3>
<EcGoogleTagManagerTest />
*@
<h3 class="invisible" id="EcGrid_InfiniteScroll_Test">EcGrid_InfiniteScroll_Test</h3>
<EcGrid_InfiniteScroll_Test />

<h3 class="invisible" id="EcGridTest">EcGridTest</h3>
<EcGridTest />

<h3 class="invisible" id="EcIconTest">EcIconTest</h3>
<EcIconTest />

@*<h3 class="invisible" id="EcInputDateRangeTest">EcInputDateRangeTest</h3>
<EcInputDateRangeTest />

<h3 class="invisible" id="EcInputDateTest">EcInputDateTest</h3>
<EcInputDateTest />*@

<h3 class="invisible" id="EcInputFile2Test">EcInputFile2Test</h3>
<EcInputFile2Test />

<h3 class="invisible" id="EcInputFileDropZoneTest">EcInputFileDropZoneTest</h3>
<EcInputFileDropZoneTest />

<h3 class="invisible" id="EcInputFileTest">EcInputFileTest</h3>
<EcInputFileTest />

<h3 class="invisible" id="EcInputPercentTest">EcInputPercentTest</h3>
<EcInputPercentTest />

<h3 class="invisible" id="EcInputTagsTest">EcInputTagsTest</h3>
<EcInputTagsTest />

<h3 class="invisible" id="EcInputTextAreaTest">EcInputTextAreaTest</h3>
<EcInputTextAreaTest />

<h3 class="invisible" id="EcInputTextTests">EcInputTextTests</h3>
<EcInputTextTests />

<h3 class="invisible" id="EcListLayoutTest">EcListLayoutTest</h3>
<EcListLayoutTest />

<h3 class="invisible" id="EcListLayoutWithoutFilterTest">EcListLayoutWithoutFilterTest</h3>
<EcListLayoutWithoutFilterTest />

<h3 class="invisible" id="EcMessageBoxHostTest">EcMessageBoxHostTest</h3>
<EcMessageBoxHostTest />

<h3 class="invisible" id="EcMessageBoxTest">EcMessageBoxTest</h3>
<EcMessageBoxTest />

<h3 class="invisible" id="EcMessengerTest">EcMessengerTest</h3>
<EcMessengerTest />

<h3 class="invisible" id="EcModalTest">EcModalTest</h3>
<EcModalTest />

<h3 class="invisible" id="EcModelEditFormTest">EcModelEditFormTest</h3>
<EcModelEditFormTest />

<h3 class="invisible" id="EcMultiSelectTest">EcMultiSelectTest</h3>
<EcMultiSelectTest />

<h3 class="invisible" id="EcOffcanvasTest">EcOffcanvasTest</h3>
<EcOffcanvasTest />

<h3 class="invisible" id="EcPagerTest">EcPagerTest</h3>
<EcPagerTest />

<h3 class="invisible" id="EcProgressIndicatorTest">EcProgressIndicatorTest</h3>
<EcProgressIndicatorTest />

<h3 class="invisible" id="EcProgressTest">EcProgressTest</h3>
<EcProgressTest />

<h3 class="invisible" id="EcRadioButtonListTest">EcRadioButtonListTest</h3>
<EcRadioButtonListTest />

<h3 class="invisible" id="EcRepeaterTest">EcRepeaterTest</h3>
<EcRepeaterTest />

<h3 class="invisible" id="EcScrollspyTest">EcScrollspyTest</h3>
<EcScrollspyTest />

<h3 class="invisible" id="EcSearchBoxTest">EcSearchBoxTest</h3>
<EcSearchBoxTest />

<h3 class="invisible" id="EcSelectPickerTest">EcSelectPickerTest</h3>
<EcSelectPickerTest />

<h3 class="invisible" id="EcSelectTest">EcSelectTest</h3>
<EcSelectTest />

<h3 class="invisible" id="EcSidebarTest">EcSidebarTest</h3>
<EcSidebarTest />

<h3 class="invisible" id="EcSpinnerTest">EcSpinnerTest</h3>
<EcSpinnerTest />

<h3 class="invisible" id="EcTabPanelTest">EcTabPanelTest</h3>
<EcTabPanelTest />

<h3 class="invisible" id="EcToastTest">EcToastTest</h3>
<EcToastTest />

<h3 class="invisible" id="EcTooltipTest">EcTooltipTest</h3>
<EcTooltipTest />

<h3 class="invisible" id="InputsTest">InputsTest</h3>
<InputsTest />

<h3 class="invisible" id="InputsWithFloatingLabelsTest">InputsWithFloatingLabelsTest</h3>
<InputsWithFloatingLabelsTest />

<h3 class="invisible" id="InputsWithoutEditContextTest">InputsWithoutEditContextTest</h3>
<InputsWithoutEditContextTest />

@*<h3 class="invisible" id="StrongApiStringLocalizerTest">StrongApiStringLocalizerTest</h3>
<StrongApiStringLocalizerTest />
*@
