@attribute [Route("/components/" + nameof(EcRadioButtonList<TValue, TItem>))]
@attribute [Route("/components/" + nameof(EcRadioButtonListBase<TValue, TItem>))]

<ComponentApiDoc Type="typeof(EcRadioButtonList<TValue, TItem>)">

    <DocHeading Title="Basic usage" />
    <Demo Type="typeof(EcRadioButtonList_Demo)" Tabs="false" />

    <DocHeading Title="Inline" />
    <p>Group radios on the same horizontal row by adding <code>Inline="true"</code>.</p>
    <Demo Type="typeof(EcRadioButtonList_Demo_Inline)" />

</ComponentApiDoc>