<div class="d-flex justify-content-center">
    <EcDropdownButtonGroup>
		<EcDropdownToggleButton Color="ThemeColor.Secondary">Dropdown</EcDropdownToggleButton>
		<EcDropdownMenu Alignment="DropdownMenuAlignment.End">
			<EcDropdownItemNavLink Href="#">Item 1</EcDropdownItemNavLink>
			<EcDropdownItemNavLink Href="#">Some item 2</EcDropdownItemNavLink>
			<EcDropdownDivider />
			<EcDropdownItemNavLink Href="#">Something else here</EcDropdownItemNavLink>
		</EcDropdownMenu>
	</EcDropdownButtonGroup>
</div>
