<EcDropdownButtonGroup>
    <EcDropdownToggleButton Color="ThemeColor.Secondary"
                            DropdownReference="#my-reference">Dropdown button with tooltip</EcDropdownToggleButton>
    <EcDropdownMenu>
        <EcDropdownItemText>Text item 1</EcDropdownItemText>
        <EcDropdownItemText>Text item 2</EcDropdownItemText>
        <EcDropdownDivider />
        <EcDropdownItemText>Text item 3</EcDropdownItemText>
    </EcDropdownMenu>
</EcDropdownButtonGroup>

<div id="my-reference" class="bg-info d-inline-block px-3 py-1 ms-5">Reference element</div>