@namespace EnchantedCoder.Blazor.Components.Web.Bootstrap.Documentation.Shared.Components

<EcDynamicElement ElementName="@HeadingTagEffective" AdditionalAttributes="@AdditionalAttributes">@Title@ChildContent <a href="@GetItemUrl()">#</a></EcDynamicElement>
