<EcInputFileDropZone Multiple>
    <NoFilesTemplate>
        <div class="display-3 text-center"><EcIcon Icon="BootstrapIcon.CloudUpload" /></div>
        <div>Custom content</div>
    </NoFilesTemplate>
</EcInputFileDropZone>
