<EcAlert Color="ThemeColor.Primary">A simple primary alert—check it out!</EcAlert>
<EcAlert Color="ThemeColor.Secondary">A simple secondary alert—check it out!</EcAlert>
<EcAlert Color="ThemeColor.Success"> A simple success alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.</EcAlert>
<EcAlert Color="ThemeColor.Danger">A simple danger alert—check it out!</EcAlert>
<EcAlert Color="ThemeColor.Warning">A simple warning alert—check it out!</EcAlert>
<EcAlert Color="ThemeColor.Info">A simple info alert—check it out!</EcAlert>
<EcAlert Color="ThemeColor.Light">A simple light alert—check it out!</EcAlert>
<EcAlert Color="ThemeColor.Dark">A simple dark alert—check it out!</EcAlert>
