@attribute [Route("/components/" + nameof(EcDynamicElement))]

<ComponentApiDoc Type="typeof(EcDynamicElement)">
    <p>Allows dynamic composition of more complex components. Used in some of the Ec-components internally, but also exposed for your needs.</p>

    <DocHeading Title="Basic usage" />
    <Demo Type="typeof(EcDynamicElement_Demo_BasicUsage)" Tabs="false" />

</ComponentApiDoc>