<h1>Example heading <EcBadge Color="ThemeColor.Secondary">New</EcBadge></h1>
<h2>Example heading <EcBadge Color="ThemeColor.Secondary">New</EcBadge></h2>
<h3>Example heading <EcBadge Color="ThemeColor.Secondary">New</EcBadge></h3>
<h4>Example heading <EcBadge Color="ThemeColor.Secondary">New</EcBadge></h4>
<h5>Example heading <EcBadge Color="ThemeColor.Secondary">New</EcBadge></h5>
<h6>Example heading <EcBadge Color="ThemeColor.Secondary">New</EcBadge></h6>
