@attribute [Route("/components/" + nameof(EcNamedViewList<TModel>))]

<ComponentApiDoc Type="typeof(EcNamedViewList<TModel>)">
    <DocHeading Title="Usage" />
    <DocAlert>Use <code>EcNamedViewList</code> inside of <a href="/components/EcListLayout">EcListLayout</a>.</DocAlert>
</ComponentApiDoc>